.mainheading {
  color: rgb(23, 74, 131);
  font-family: cursive !important;
  font-size: 3rem !important;
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.text {
  font-family: monospace !important;
  text-align: justify;

  width: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img:hover {
  opacity: 1.0;
}

.card {
  border-radius: 2rem;
  min-height: 10rem;
  max-height: 20rem;
  min-width: 20rem;
  max-width: 30rem;
}

.btn {
  background-color: rgb(52, 77, 100) !important;
  border-radius: 2rem;
  color: aliceblue !important;
  margin-top: 1rem !important;
}
